<launch>
    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py" output="screen">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <!--<param name="baud" value="115200"/>-->
    </node>
    
    <node pkg="trilobot" name="move_bridge" type="move_base.py"/>
    <!-- Currently not used as sonars are not used either and standard sonar messages are huge.
         Raw sonar readings are available, though.
    <node pkg="trilobot" name="sonar_bridge" type="sonar_bridge.py"/>
    <node pkg="trilobot" name="battery_bridge" type="battery_bridge.py"/>-->
    <node pkg="trilobot" name="master_arduino_starter" type="start_arduino_rosserial.py"/>
</launch>
