<launch>
    <node pkg="key_teleop" name="key_teleop" type="key_teleop.py" output="screen"/>
    
    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    </node>

    <node pkg="trilobot" name="teleop" type="teleop.py"/>
    <node pkg="trilobot" name="move_ctrl" type="move_base.py"/>
</launch>
