<launch>

    <!-- camera node for depth, odom, imu, RGBD... -->
    <include file="$(find trilobot)/launch/realsense.launch"/>

    <!-- SLAM -->
    <include file="$(find trilobot)/launch/slam.launch"/>

    <!-- serial communication-->
    <include file="$(find trilobot)/launch/rosserial.launch"/> 

    <!-- apriltag detection -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>

</launch>
