<launch>
    <!-- SLAM for now external
    <include file="$(find trilobot)/launch/mapping_default.launch">
    </include> -->
    <!-- camera node for depth, odom, imu, RGBD... -->
    <!--<include file="$(find trilobot)/launch/realsense.launch"/>-->

    <!-- serial communication-->
    <include file="$(find trilobot)/launch/rosserial.launch"/> 


<node pkg="trilobot" type="diff_odom.py" name="differential_odom"/>
</launch>
